﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <section>
            @using (Html.BeginForm("PostUsingParameter", "Register"))
            {
                <input type="text" name="FirstName" /><br />
                <input type="text" name="LastName" /><br /><br />
                <input type="Submit" name="ClickME" />

            }
        </section>
    </div>
</body>
</html>
